<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>$http实例</title>
  <script src="angular.min.js"></script>

<script>
  var m1 = angular.module('myApp', []);

  m1.controller('fnA', ['$scope', '$http', '$timeout', function($scope, $http, $timeout) {
    //timer延时处理请求，提高性能
    var timer = null;

    $scope.data = [];

    $scope.change = function(name) {
      $timeout.cancel(timer);
      timer = $timeout(function() {
        $http({
          method: 'JSONP',
          url: 'https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su?wd=' + name + '&cb=JSON_CALLBACK'
        }).success(function(data) {
          $scope.data = data.s;
        });
      }, 500);
    };
  }]);
</script>
</head>

<body>
<div ng-controller="fnA">
  <input type="text" ng-model="name" ng-keyup="change(name)">
  <input type="button" ng-click="change(name)" value="搜索">
  <ul>
    <li ng-repeat="d in data">{{d}}</li>
  </ul>
</div>
</body>
</html>