<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>$interpolate</title>
  <script src="angular.min.js"></script>

<script>
  var m1 = angular.module('myApp', []);

  m1.controller('fnA', ['$scope', '$interpolate', function($scope, $interpolate){
    $scope.$watch('body', function(newBody) {
      if(newBody){
        var temp = $interpolate(newBody);
        $scope.showText = temp({name: $scope.name});
      }
    });
  }]);
</script>
</head>
<body>
<div ng-controller="fnA">
  <input type="text" ng-model="name">
    <textarea ng-model="body"></textarea>
  <p>{{showText}}</p>
</div>
</body>
</html>